/* Table of Contents
/* ------------------------------------------------------------

This is a development CSS file which is built to a minified
production stylesheet in assets/built/screen.css

1.  Global Styles
2.  Layout
3.  Loader
4.  Site Header & Footer
5.  Home Page
6.  Post Feed
7.  Single Post
  7.1. Subscribe Form
  7.2. Post Footer
  7.3. Comments
  7.4. Related Posts
  7.5. Floating Header
8.  Author Template
9.  Error Template
10. Subscribe Overlay
11. Site Footer

*/


/* 1. Global - Set up the things
/* ---------------------------------------------------------- */
@import "global.css";

body {
  color: var(--text);
  background: var(--bg);
}

/* 2. Layout - Page building blocks
/* ---------------------------------------------------------- */

.fullscreen{
  width: 100vw;
  height: 100vh;
}

.halfscreen{
  width: 100vw;
  height: 50vh;
}

.body{
  position: relative;
  display: flex;
  z-index: 1;
}

/* 3. Loader
/* ---------------------------------------------------------- */

.loader{
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background: var(--loader-bg);
  z-index: 3;
}

.loaded .loader{
  visibility: hidden;
  opacity: 0;
  transition: all .3s .5s;
}

.sun {
  position: absolute;
  height: 360px;
  width: 360px;
  z-index: 4;
  border-radius: 50%;
  animation: circle_rotation 8s infinite linear;
}

.loaded .sun{
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
}

.sun span{
  background: var(--bg);
  width: 30px;
  height: 30px;
  top: 165px;
  left: 165px;
  border-radius: 50%;
  position: absolute;
}

.sun-center{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 5;
  background-color: var(--bg);
  position: absolute;
}

@keyframes circle_rotation{
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

/* 4. Site Header & Footer
/* ---------------------------------------------------------- */

.fixed {
  margin: 30px 30px;
  display: flex;
  position: fixed;
  z-index: 2;
}

.header{
  top: 0px;
  right: 0px;
}

.footer{
  bottom: 0px;
}

#scroll{
  left: 0px;
}

#top{
  right: 0px;
}

/* 5. Home Page
/* ---------------------------------------------------------- */

#home #about{
  background: var(--cooler-bg);
}

#home #personal, #home #skills{
  background: var(--mini-bg);
  h1{
    color: var(--mini-header);
  }
}



/* Temp
/* ---------------------------------------------------------- */
.expose{
  display: flex;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
}