/* Table of Contents
/* ------------------------------------------------------------

This is a development CSS file which is built to a minified
production stylesheet in assets/built/screen.css

1.  Global Styles
2.  Layout
3.  Loader
4.  Header/Footer/Social
5.  Nav Page
6.  Home Page
7.  Single Post
  7.1. Subscribe Form
  7.2. Post Footer
  7.3. Comments
  7.4. Related Posts
  7.5. Floating Header
8.  Author Template
9.  Error Template
10. Subscribe Overlay
11. Site Footer

*/


/* 1. Global - Set up the things
/* ---------------------------------------------------------- */
@import "global.css";

body {
  color: var(--text);
  background: var(--bg);
}

.disable-scroll {
  overflow: hidden !important;
}

.theader {
  font-size: 60px;
}

.tbody {
  font-weight: bold;
  font-size: 30px;
}

/* 2. Layout - Page building blocks
/* ---------------------------------------------------------- */

.fullscreen{
  width: 100vw;
  height: 100vh;
}

.halfscreen{
  width: 100vw;
  height: 50vh;
}

.body{
  position: relative;
  display: inline-block;
  z-index: 1;
}

#site-wrapper{
  overflow-x: hidden;
  position: relative;
}

/* 3. Loader
/* ---------------------------------------------------------- */

.loader{
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background: var(--loader-bg);
  z-index: 100;
}

.loaded .loader{
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
}

/* EDGY-YELLOW LOADER STYLES */

.sun {
  position: absolute;
  width: calc(360px * var(--sun-multiplier));
  height: calc(360px * var(--sun-multiplier));
  z-index: 101;
  border-radius: 50%;
  animation: circle_rotation 8s infinite linear;
}

.loaded .sun{
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
}

.sun span{
  background: var(--bg);
  width: calc(30px * var(--sun-multiplier));
  height: calc(30px * var(--sun-multiplier));
  top: calc(165px * var(--sun-multiplier));
  left: calc(165px * var(--sun-multiplier));
  border-radius: 50%;
  position: absolute;
}

.sun-center{
  width: calc(30px * var(--sun-multiplier));
  height: calc(30px * var(--sun-multiplier));;
  border-radius: 50%;
  z-index: 102;
  background-color: var(--bg);
  position: absolute;
}

@keyframes circle_rotation{
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

/* 4. Site Header & Footer
/* ---------------------------------------------------------- */

.fixed {
  margin: 30px 30px;
  position: fixed;
  z-index: 2;
}

.header{
  z-index: 99;
  top: 0px;
  right: 0px;
}

.footer{
  bottom: 0px;
}

#scroll{
  left: 0px;
}

#top{
  right: 0px;
}

/* 5. Nav Page
/* ---------------------------------------------------------- */

.nav {
  background: var(--cooler-bg);
  color: var(--text);
  z-index: 98;
  right: 0;
  height: 100vh;
  width: 0;
  position: fixed;
}

.nav-content{
  overflow:hidden;
  height: 100%;
  width: 100%;
  display: inline-grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 10% auto 15%;
  .routes{
    place-self: center;
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .themes{
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 100%;
    width: 100%;
    display: inline-grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    .theme-container{
      text-align: center;
      place-self: center;
      h2,h4{
        margin: 10px 10px;
      }
    }
  }
  .social{
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    place-self: center;
    img{
      width: 30px;
      height: 30px;
      margin: 15px;
    }
  }
}
/* 6. Home Page
/* ---------------------------------------------------------- */

#home .wrapper{
  position: relative;
  height: calc(100vh + 100vh);
}

#home #hello{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 4;
}

#home #hello-block{
  z-index: 2;
  height: 100%;
  width: 100vw;
  position: absolute;
  background: var(--bg);
}

#home #about_home{
  height: 100%;
  background: var(--cooler-bg);

  #about_wrapper {
    height: 100vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 4;

    #blurb {
      text-align:center;
      width: 60%;
    }
  }
}

#home #personal, #home #skills{
  background: var(--mini-bg);
  h1{
    color: var(--mini-header);
  }
}

#home .social {
  img{
    width: 30px;
    height: 30px;
    margin: 15px;
  }
}

/* Temp
/* ---------------------------------------------------------- */
.expose{
  display: flex;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
}